html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 1.5;
    background-image: url("https://github.com/monikanolbert/currency-conventer/blob/main/images/background_money.jpg?raw=true");
    background-size: 1800px;
}